.i {
  display: flex;
  height: 100vh;
  background-color: #dae3e5;
}

.i-left {
 flex: 1;
}

.i-right {
  flex: 1;
}

.i-left-wrapper {
  padding: 50px;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}
